@font-face { font-family: mgp-text-def; src: url('/static/fonts/OpenSans-Regular.ttf'); } 
@font-face { font-family: mgp-text-def bold; src: url('/static/fonts/OpenSans-Bold.ttf'); }
@font-face { font-family: mgp-text-def medium; src: url('/static/fonts/OpenSans-Medium.ttf'); }  
@font-face { font-family: mgp-text-def mono; src: url('/static/fonts/RobotoMono-VariableFont_wght.ttf'); } 
@font-face { font-family: Montserrat; src: url('/static/fonts/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat bold; src: url('/static/fonts/Montserrat-Bold.ttf'); } 

body {
    font-family: mgp-text-def, sans-serif;
}
.navbar {
  background: none;
}

a:hover {
  text-decoration: underline;
}

.navbar-item img {
    max-height: 3rem;
    margin: 0.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .navbar-brand {
    align-content: center;
    margin: auto;
  }
  .navbar-burger {
    margin-top: auto;
    margin-bottom: auto;
  }
  .gradient {
    background: rgb(0,126,196);
    background: linear-gradient(63deg, rgba(0,126,196,1) 0%, rgba(255,0,0,1) 0%, rgba(33,45,204,1) 0%, rgba(255,158,0,1) 0%, rgba(241,7,67,1) 0%, rgba(210,32,164,1) 13%, rgba(188,50,255,1) 51%, rgba(143,38,255,1) 74%, rgba(59,0,255,1) 100%, rgba(11,31,228,1) 100%, rgba(26,46,182,1) 100%, rgba(0,44,174,1) 100%, rgba(221,0,128,1) 100%, rgba(135,0,212,1) 100%, rgba(175,55,0,1) 100%);
  }
  /*#mgperkk_button{
    cursor: pointer;
  }*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .footer {
    flex: 1;
    background-color: transparent;
    padding: 2rem;
  }

  .hero.is-fullheight {
    min-height: 80vh;
}

.mgperkk-showhero {
  position: relative;
  min-height:500px;
  height: 80vh;
  width:100%;
  overflow: hidden;
}

.mgperkk-bannerbg {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  min-width: 100%;
  min-height: 100%;
  height:auto;
  width:auto;
  z-index: -100;
  object-fit: cover;
}

.mgperkk-showhero-text-white {
  color: white; 
}

.mgperkk-loc-link {
  color: white;
}
.mgperkk-loc-link:hover {
  color: white;
  text-decoration: underline;
}

.monospace, .code {
  font-family: 'mgp-text-def Mono', monospace;
}

.mgperkk-footer-nadpis {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6, .title, .mgperkk-footer-nadpis-bold {
  font-family: 'Montserrat bold', sans-serif;
}

/*
Оу, ты дочитал до сюда?)
Если есть понимание вышеописанного, приглашаем тебя в команду!
*/