@font-face { font-family: Montserrat bold; src: url('../fonts/Montserrat-Bold.ttf'); } 

:root {
    --mgp-heading-med: "Montserrat bold", sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--mgp-heading-med);
}